
@use '_vars' as *;

.container {
    width:80%;
    margin: auto;
// make it responsive 
    @media (max-width:992px){
            width: 90% !important;
    }
    @media (max-width:768px){
        width: 95% !important;
    }
}

.active {
    color:black !important;
    &:after{
        content:'';
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 2px;
        width: 100% !important;
        background: linear-gradient(to right, $main-color, $second-color);
        transition: 0.3s ease all;
    }
}
.section-padding {
    padding-block: 60px;
}
.pointer {
    cursor: pointer;
}

.button-style{
    padding: 10px 25px;
    background: linear-gradient(to right, $main-color, $second-color);
    color:white;
    border-radius: 20px;
    &:hover{
        opacity: 0.7;
    }
}

.title {
    text-align: center;
            margin-block: 20px 80px;
            font-size: 40px;
            position: relative;
            h3 {
                font-weight: 300;
            }
            &::before{
                content: '';
                position: absolute;
                text-align: center;
                left: 42%;
                transform: translateX(-42%);
                bottom: -20px;
                width: 30px;
                margin: auto;
                height: 2px;
                background: linear-gradient(to right, $main-color, $second-color)
            }
            &::after{
                content: '';
                position: absolute;
                text-align: center;
                left: 53%;
                transform: translateX(-53%);
                bottom: -20px;
                width: 195px;
                margin: auto;
                height: 2px;
                background: linear-gradient(to right, $main-color, $second-color)
            }


            /* make title underline reponsive */
            @media (max-width:1200px){
                font-size: 35px;

                &::before{
                    left: 35%;
                    transform: translateX(-35%);
                }
            }
            @media (max-width:768px){
                font-size: 26px;
                &::before{
                    left: 30%;
                    transform: translateX(-30%);
                }
            }
}