/*     C  E  N  T  E  R     */
/*        S  H  A  P  E  S      */
/*    B  U  T  T  O  N  S    */
/* ====== clients background =====*/
@font-face {
  font-family: "main-font";
  src: url("../../fonts/PublicSans-VariableFont_wght.ttf");
}
.container {
  width: 80%;
  margin: auto;
}

.section-padding {
  padding-block: 60px;
}

.pointer {
  cursor: pointer;
}

.button-style {
  padding: 10px 25px;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  color: white;
  border-radius: 20px;
}
.button-style:hover {
  opacity: 0.7;
}

.title {
  text-align: center;
  margin-block: 20px 80px;
  font-size: 40px;
  position: relative;
  /* make title underline reponsive */
}
.title h3 {
  font-weight: 300;
}
.title::before {
  content: "";
  position: absolute;
  text-align: center;
  left: 42%;
  transform: translateX(-42%);
  bottom: -20px;
  width: 30px;
  margin: auto;
  height: 2px;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
}
.title::after {
  content: "";
  position: absolute;
  text-align: center;
  left: 53%;
  transform: translateX(-53%);
  bottom: -20px;
  width: 195px;
  margin: auto;
  height: 2px;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
}
@media (max-width: 1200px) {
  .title {
    font-size: 35px;
  }
  .title::before {
    left: 35%;
    transform: translateX(-35%);
  }
}
@media (max-width: 768px) {
  .title::before {
    left: 30%;
    transform: translateX(-30%);
  }
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease all;
}

body {
  font-family: "main-font";
  overflow-x: hidden;
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}

/*====== nav style ======*/
nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
  box-shadow: 2px 1px 3px hsl(233deg, 26%, 24%);
  /* ===== display mobile navigation =====*/
}
nav #check, nav .checkbtn {
  display: none;
}
nav .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
}
nav .nav-content .nav-list ul li {
  margin-inline: 7px;
  color: hsl(233deg, 8%, 62%);
  position: relative;
}
nav .nav-content .nav-list ul li:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 0%;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  transition: 0.3s ease all;
}
nav .nav-content .nav-list ul li:hover {
  color: black;
}
nav .nav-content .nav-list ul li:hover::after {
  width: 100%;
}
@media (max-width: 992px) {
  nav {
    /* ======= OPEN MOBILE NAV =======*/
  }
  nav #close-nav {
    display: none;
  }
  nav .checkbtn {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 17px;
    cursor: pointer;
  }
  nav .checkbtn img {
    width: 40px;
    height: 20px;
  }
  nav .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
  }
  nav .nav-content .nav-list {
    position: absolute;
    top: -1120%;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
  }
  nav .nav-content .nav-list ul li {
    margin-block: 25px;
    display: block;
    width: 100%;
    position: relative;
  }
  nav .nav-content .nav-list ul li:hover {
    color: black;
  }
  nav .nav-content .nav-list ul li:hover::after {
    width: 100%;
  }
  nav .nav-content .nav-button {
    display: none;
  }
  nav #check:checked ~ .nav-content .nav-list {
    top: 120%;
  }
}

/*====== header style ====*/
header {
  height: 100vh;
  background-color: hsl(0deg, 0%, 98%);
  /* ====== Tablet responsive =====*/
  /* ====== Mobile responsive =====*/
}
header .header-content {
  display: flex;
}
header .header-content .header-content-text {
  width: 50%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-content .header-content-text .header-text h2 {
  font-size: 56px;
  line-height: 75px;
  margin-block: 10px;
  font-weight: 300;
}
header .header-content .header-content-text .header-text p {
  font-size: 20px;
  line-height: 25px;
  margin-block: 10px;
  color: hsl(233deg, 8%, 62%);
}
header .header-content .header-content-text .header-text .header-button {
  width: 100%;
  margin-block: 30px;
}
header .header-content .header-content-design {
  width: 70%;
}
header .header-content .header-content-design .header-design {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg-intro-desktop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
header .header-content .header-content-design .header-design img {
  width: 100%;
  position: absolute;
  right: -15%;
  top: -15%;
}
@media (max-width: 992px) {
  header {
    height: 100%;
  }
  header .header-content {
    flex-direction: column-reverse;
    align-items: center;
  }
  header .header-content .header-content-text {
    width: 60%;
    margin-block: 100px 40px;
    text-align: center;
  }
  header .header-content .header-content-text .header-text h2 {
    line-height: 60px;
    margin-block: 20px;
  }
  header .header-content .header-content-text .header-text p {
    line-height: 30px;
  }
  header .header-content .header-content-design {
    width: 100%;
  }
  header .header-content .header-content-design .header-design {
    width: 80%;
    margin-left: auto;
    background-image: url("../images/bg-intro-mobile.svg");
  }
  header .header-content .header-content-design .header-design img {
    width: 90%;
    right: 15%;
    top: -5%;
  }
}
@media (max-width: 768px) {
  header .header-content .header-content-text {
    width: 80%;
    margin-block: 0px 30px;
    text-align: center;
    margin-left: 0%;
  }
  header .header-content .header-content-text .header-text h2 {
    line-height: 60px;
    margin-block: 20px;
  }
  header .header-content .header-content-text .header-text p {
    line-height: 30px;
  }
  header .header-content .header-content-design {
    width: 100%;
  }
  header .header-content .header-content-design .header-design {
    width: 80%;
    background-image: url("../images/bg-intro-mobile.svg");
  }
  header .header-content .header-content-design .header-design img {
    width: 120%;
    right: 5%;
    top: 0%;
  }
}

/*======== features style =======*/
.features {
  background-color: hsl(220deg, 16%, 96%);
}
.features .container .features-content .features-title {
  margin-block: 20px 80px;
}
.features .container .features-content .features-title h3 {
  font-size: 26px;
  letter-spacing: 2px;
  margin-block: 20px;
}
.features .container .features-content .features-title p {
  color: hsl(233deg, 8%, 62%);
  line-height: 25px;
}
.features .container .features-content .features-items {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.features .container .features-content .features-items .item {
  width: 49%;
  margin-bottom: 30px;
  border-radius: 30px;
  padding: 35px;
  box-shadow: 0px 0px 2px hsl(233deg, 8%, 62%);
}
.features .container .features-content .features-items .item:hover {
  background-color: white;
}
.features .container .features-content .features-items .item h3 {
  margin-block: 15px;
  font-weight: 300;
}
.features .container .features-content .features-items .item p {
  color: hsl(233deg, 8%, 62%);
  line-height: 25px;
}
@media (max-width: 1200px) {
  .features .container .features-content .features-title {
    margin-block: 20px 40px;
  }
  .features .container .features-content .features-items {
    gap: 10px;
  }
  .features .container .features-content .features-items .item {
    width: 48%;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .features .container {
    width: 90%;
  }
  .features .container .features-content .features-items .item {
    width: 49%;
  }
}
@media (max-width: 768px) {
  .features .container {
    width: 90%;
  }
  .features .container .features-content .features-items .item {
    width: 100%;
  }
}

/* ======= clients ====== */
.clients {
  /*========  make clients items responsive =========*/
}
.clients .container .clients-content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 80px 3%;
}
.clients .container .clients-content .item {
  width: 31.3333333333%;
  cursor: pointer;
  padding-block: 30px;
  box-shadow: 0px 0px 2px hsl(233deg, 8%, 62%);
  border-radius: 20px;
}
.clients .container .clients-content .item h4 {
  font-size: 30px;
  margin-block: 15px;
  font-weight: 300;
}
.clients .container .clients-content .item:hover i, .clients .container .clients-content .item:hover h4, .clients .container .clients-content .item:hover p, .clients .container .clients-content .item:hover span {
  color: rgb(255, 255, 255) !important;
}
.clients .container .clients-content #amazon {
  position: relative;
  z-index: 2;
}
.clients .container .clients-content #amazon i, .clients .container .clients-content #amazon h4 {
  color: orange;
}
.clients .container .clients-content #amazon ::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 0%;
  width: 100%;
  border-radius: 20px;
  transition: 0.4s all ease;
  background-color: orange;
}
.clients .container .clients-content #amazon:hover ::after {
  height: 100%;
}
.clients .container .clients-content #apple {
  position: relative;
  z-index: 2;
}
.clients .container .clients-content #apple ::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 0%;
  width: 100%;
  border-radius: 20px;
  transition: 0.4s all ease;
  background-color: rgb(10, 10, 10);
}
.clients .container .clients-content #apple:hover ::after {
  height: 100%;
}
.clients .container .clients-content #ps {
  position: relative;
  z-index: 2;
}
.clients .container .clients-content #ps i, .clients .container .clients-content #ps h4 {
  color: rgb(0, 83, 185);
}
.clients .container .clients-content #ps ::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 0%;
  width: 100%;
  border-radius: 20px;
  transition: 0.4s all ease;
  background-color: rgb(0, 83, 185);
}
.clients .container .clients-content #ps:hover ::after {
  height: 100%;
}
.clients .container .clients-content #tiktok {
  position: relative;
  z-index: 2;
}
.clients .container .clients-content #tiktok ::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 0%;
  width: 100%;
  border-radius: 20px;
  transition: 0.4s all ease;
  background-color: rgb(10, 10, 10);
}
.clients .container .clients-content #tiktok:hover ::after {
  height: 100%;
}
.clients .container .clients-content #twitter {
  position: relative;
  z-index: 2;
}
.clients .container .clients-content #twitter i, .clients .container .clients-content #twitter h4 {
  color: rgb(0, 162, 255);
}
.clients .container .clients-content #twitter ::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 0%;
  width: 100%;
  border-radius: 20px;
  transition: 0.4s all ease;
  background-color: rgb(0, 162, 255);
}
.clients .container .clients-content #twitter:hover ::after {
  height: 100%;
}
.clients .container .clients-content #youtube {
  position: relative;
  z-index: 2;
}
.clients .container .clients-content #youtube i, .clients .container .clients-content #youtube h4 {
  color: rgb(208, 0, 0);
}
.clients .container .clients-content #youtube ::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 0%;
  width: 100%;
  border-radius: 20px;
  transition: 0.4s all ease;
  background-color: rgb(208, 0, 0);
}
.clients .container .clients-content #youtube:hover ::after {
  height: 100%;
}
@media (max-width: 992px) {
  .clients .container {
    width: 90%;
  }
  .clients .container .clients-content {
    gap: 20px;
  }
  .clients .container .clients-content .item {
    width: 48.5%;
  }
}
@media (max-width: 768px) {
  .clients .container .clients-content {
    gap: 10px;
  }
  .clients .container .clients-content .item {
    width: 100%;
  }
}

/* ===== articles style ====== */
.articles {
  background-image: url("../images/articles-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*========== make articles items responsive ========*/
}
.articles .overlay {
  background: linear-gradient(to right, hsla(136deg, 65%, 51%, 0.707), hsla(192deg, 70%, 51%, 0.701));
}
.articles .overlay .container .title {
  color: white;
}
.articles .overlay .container .articles-content .articles-title h3 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 40px;
  color: white;
}
.articles .overlay .container .articles-content .articles-items {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.articles .overlay .container .articles-content .articles-items .item {
  width: 25%;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
.articles .overlay .container .articles-content .articles-items .item img {
  width: 100%;
  max-height: 45%;
}
.articles .overlay .container .articles-content .articles-items .item .item-text {
  padding: 20px;
}
.articles .overlay .container .articles-content .articles-items .item .item-text #author {
  color: hsl(233deg, 8%, 62%);
  font-size: 14px;
}
.articles .overlay .container .articles-content .articles-items .item .item-text h4 {
  font-size: 18px;
  margin-block: 10px;
}
.articles .overlay .container .articles-content .articles-items .item .item-text h4:hover {
  color: hsl(136deg, 65%, 51%);
}
.articles .overlay .container .articles-content .articles-items .item .item-text #details {
  color: hsl(233deg, 8%, 62%);
}
@media (max-width: 1200px) {
  .articles .overlay .container {
    width: 90%;
  }
  .articles .overlay .container .articles-content .articles-title h3 {
    font-size: 35px;
  }
  .articles .overlay .container .articles-content .articles-items {
    flex-wrap: wrap;
    gap: 20px;
  }
  .articles .overlay .container .articles-content .articles-items .item {
    width: 32%;
  }
  .articles .overlay .container .articles-content .articles-items .item .item-text #author {
    color: hsl(233deg, 8%, 62%);
    font-size: 18px;
  }
  .articles .overlay .container .articles-content .articles-items .item .item-text h4 {
    font-size: 22px;
  }
  .articles .overlay .container .articles-content .articles-items .item .item-text #details {
    line-height: 25px;
  }
}
@media (max-width: 992px) {
  .articles .overlay .container .articles-content .articles-items .item {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .articles .overlay .container .articles-content .articles-items {
    flex-wrap: wrap;
    gap: 15px;
  }
  .articles .overlay .container .articles-content .articles-items .item {
    width: 100%;
    height: 600px;
  }
  .articles .overlay .container .articles-content .articles-items .item .item-text #author {
    color: hsl(233deg, 8%, 62%);
    font-size: 20px;
  }
  .articles .overlay .container .articles-content .articles-items .item .item-text h4 {
    margin-block: 15px;
    font-size: 25px;
  }
  .articles .overlay .container .articles-content .articles-items .item .item-text #details {
    font-size: 22px;
    line-height: 35px;
  }
}

/*======== contact style ======*/
.contact {
  /*======== make contact items responsive =======*/
}
.contact .container .contact-content {
  width: 60%;
  margin: auto;
}
.contact .container .contact-content .input {
  margin-bottom: 20px;
  border: 2px solid hsl(192deg, 70%, 51%);
}
.contact .container .contact-content .input input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
}
.contact .container .contact-content .text-area {
  border: 2px solid hsl(192deg, 70%, 51%);
  margin-bottom: 40px;
}
.contact .container .contact-content .text-area textarea {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
}
@media (max-width: 992px) {
  .contact .container .contact-content {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .contact .container .contact-content {
    width: 100%;
    margin: auto;
  }
}

/* ====== footer style ===== */
.footer {
  background-color: hsl(233deg, 26%, 24%);
}
.footer .container .footer-content {
  display: flex;
}
.footer .container .footer-content .footer-social {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.footer .container .footer-content .footer-social .social {
  width: 100%;
}
.footer .container .footer-content .footer-social .social i {
  color: white;
  margin-inline: 5px;
}
.footer .container .footer-content .footer-social .social i:hover {
  color: hsl(136deg, 65%, 51%);
}
.footer .container .footer-content .footer-list {
  display: flex;
  width: 50%;
  -moz-column-gap: 20%;
       column-gap: 20%;
}
.footer .container .footer-content .footer-list ul li {
  display: block;
  color: white;
  line-height: 40px;
}
.footer .container .footer-content .footer-list ul li:hover {
  color: hsl(136deg, 65%, 51%);
}
.footer .container .footer-content .footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
  width: 25%;
}
.footer .container .footer-content .footer-copyright .footer-copyright-text {
  color: white;
}
@media (max-width: 768px) {
  .footer .container .footer-content {
    flex-wrap: wrap;
  }
  .footer .container .footer-content .footer-social {
    width: 100%;
    justify-content: center;
  }
  .footer .container .footer-content .footer-social .social {
    margin-top: 40px;
    text-align: center;
  }
  .footer .container .footer-content .footer-social .social i {
    margin-inline: 17px;
    font-size: 30px;
  }
  .footer .container .footer-content .footer-list {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
  }
  .footer .container .footer-content .footer-list ul {
    width: 100%;
    text-align: center;
  }
  .footer .container .footer-content .footer-list ul li {
    line-height: 70px;
    font-size: 26px;
  }
  .footer .container .footer-content .footer-copyright {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
  .footer .container .footer-content .footer-copyright .footer-button {
    margin-block: 30px;
  }
  .footer .container .footer-content .footer-copyright .footer-button button {
    font-size: 22px;
  }
  .footer .container .footer-content .footer-copyright .footer-copyright-text {
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */