@use 'scss-items/mixins' as *;
@use 'scss-items/vars' as *;
@use 'scss-items/classes' as *;

html {
    scroll-behavior: smooth;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s ease all;
}
body {
    font-family: 'main-font';
    overflow-x: hidden;
}
button {
    outline: none;
    border: none;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    li {
        display: inline-block
    }
}

/*====== nav style ======*/
nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;
    box-shadow: 2px 1px 3px $dark-background;
    #check,.checkbtn{
        display: none;
    }
    .nav-content{
        @include flexible(space-between);
        padding-block: 15px;
        .nav-list{
            ul{
                li{
                    margin-inline:7px;
                    color:hsl(233, 8%, 62%);
                    position: relative;
                    &:after{
                        content:'';
                        position: absolute;
                        left: 0;
                        bottom: -15px;
                        height: 2px;
                        width: 0%;
                        background: linear-gradient(to right, $main-color, $second-color);
                        transition: 0.3s ease all;
                    }
                    &:hover {
                        color:black;
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }


/* ===== display mobile navigation =====*/ 
@media (max-width:992px) {
    #close-nav{
                display: none;
    }
    .checkbtn{
                display: inline-block;
                position: absolute;
                right:30px;
                top:17px;
                cursor: pointer;
                img{
                    width: 40px;
                    height: 20px;
                }
    }
    .nav-content{
                @include flexible(space-between);
                padding-block: 15px;

                .nav-list{
                    position: absolute;
                    top: -1120%;
                    background-color: white;
                    border-radius: 10px;
                    width:80%;
                    margin: auto;
                    text-align: center;
                    ul{
                        li{
                            margin-block:25px;
                            display: block;
                            width: 100%;
                            position: relative;
                            &:hover {
                                color:black;
                                &::after{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .nav-button {
                    display: none;
                }
            }

            /* ======= OPEN MOBILE NAV =======*/ 
            #check:checked ~ .nav-content{
                    .nav-list{
                    top: 120%;
                    }
                    
                }
            }
        }

/*====== header style ====*/
header {
    height: 100vh;
    background-color: $light-background;
        .header-content {
            display: flex;
            .header-content-text{
                width: 50%;
                margin-left: 10%;
                @include flexible(center);
                .header-text{
                    h2 {
                        font-size: 56px;
                        line-height:75px;
                        margin-block: 10px;
                        font-weight: 300;
                    }
                    p {
                        font-size: 20px;
                        line-height: 25px;
                        margin-block: 10px;
                        color:hsl(233, 8%, 62%);
                    }
                    .header-button {
                        width: 100%;
                        margin-block: 30px;
                    }
                }
            }
            .header-content-design{
                    width: 70%;
                    .header-design {
                        width: 100%;
                        height: 100vh;
                        background-image: url('../images/bg-intro-desktop.svg');
                        @include backgroundOptions;
                        position: relative;
                        img {
                            width: 100%;
                            position: absolute;
                            right: -15%;
                            top:-15%;
                        }
                    }
            }
        }

    /* ====== Tablet responsive =====*/ 
        @media (max-width:992px) {
            height: 100%;
            .header-content {
                flex-direction: column-reverse;
                align-items: center;
                .header-content-text{
                    width: 60%;
                    margin-block: 100px 40px;
                    text-align: center;
                    .header-text{
                        h2 {
                            line-height:60px;
                            margin-block: 20px;
                        }
                        p {
                            line-height: 30px;
                        }
                    }
                }
                .header-content-design{
                        width: 100%;
                        .header-design {
                            width: 80%;
                            margin-left: auto;
                            background-image: url('../images/bg-intro-mobile.svg');
                            img {
                                width: 90%;
                                right: 15%;
                                top:-5%;
                            }
                        }
                }
            }
        }

    /* ====== Mobile responsive =====*/ 
        @media (max-width:768px) {
            .header-content {
                .header-content-text{
                    width: 80%;
                    margin-block: 0px 30px;
                    text-align: center;
                    margin-left: 0%;
                    .header-text{
                        h2 {
                            line-height:60px;
                            margin-block: 20px;
                        }
                        p {
                            line-height: 30px;
                        }
                    }
                }
                .header-content-design{
                    width: 100%;
                    .header-design {
                        width: 80%;
                        background-image: url('../images/bg-intro-mobile.svg');
                        img {
                            width: 120%;
                            right: 5%;
                            top:0%;
                        }
                    }
            }
        }
    }

}

/*======== features style =======*/
.features {
    background-color: $medium-background;
    .container {
        .features-content{
            .features-title {
                margin-block: 20px 80px;
                h3 {
                    font-size: 26px;
                    letter-spacing: 2px;
                    margin-block: 20px;

                }

                p{
                    color:$Grayish-Blue;
                    line-height: 25px;
                }
            }
            .features-items {
                display: flex;
                flex-wrap: wrap;
                column-gap: 20px;
                .item {
                    width: 49%;
                    margin-bottom: 30px;
                    border-radius: 30px;
                    padding:35px;
                    box-shadow: 0px 0px 2px $Grayish-Blue;
                    &:hover{
                        background-color: white;
                    }
                    h3 {
                        margin-block: 15px;
                        font-weight: 300;
                    }
                    p{
                        color:$Grayish-Blue;
                        line-height: 25px;
                    }
                }
            }

        }
    }

    @media (max-width:1200px){
        .container {
            .features-content{
                .features-title {
                    margin-block: 20px 40px;
                }
                .features-items {
                    gap: 10px;
                    .item {
                        width: 48%;
                        text-align: center;
                    }
                }
    
            }
        }
    }
    @media (max-width:992px){
        .container {
            width: 90%;
            .features-content{
                .features-items {
                    .item {
                        width: 49%;
                    }
                }
            }
        }
    }
    @media (max-width:768px){
        .container {
            width: 90%;
            .features-content{
                .features-items {
                    .item {
                        width: 100%;
                    }
                }
            }
        }
    }
}


/* ======= clients ====== */
.clients {
    .container{
        .clients-content{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            gap: 80px 3%;
            .item{
                width: calc(94%/3);
                cursor: pointer;
                padding-block: 30px;
                box-shadow: 0px 0px 2px $Grayish-Blue;
                border-radius: 20px;
                h4{
                    font-size: 30px;
                    margin-block: 15px;
                    font-weight: 300;
                }
                &:hover{
                    i,h4,p,span {
                        color:rgb(255, 255, 255) !important;
                    }
                }
            }
            #amazon{
                i,h4 {
                    color:orange
                }
                position: relative;
                z-index: 2;
                ::after{
                    @include clientBackground;
                    background-color: orange;
                }
                &:hover{
                    ::after{
                        height: 100%;
                    }
                }
            }
            #apple{
                position: relative;
                z-index: 2;
                ::after{
                    @include clientBackground;
                    background-color: rgb(10, 10, 10);
                }
                &:hover{
                    ::after{
                        height: 100%;
                    }
                }
            }
            #ps{
                i,h4 {
                    color:rgb(0, 83, 185)
                }
                position: relative;
                z-index: 2;
                ::after{
                    @include clientBackground;
                    background-color: rgb(0, 83, 185);
                }
                &:hover{
                    ::after{
                        height: 100%;
                    }
                }
            }
            #tiktok{
                position: relative;
                z-index: 2;
                ::after{
                    @include clientBackground;
                    background-color: rgb(10, 10, 10);
                }
                &:hover{
                    ::after{
                        height: 100%;
                    }
                }
            }
            #twitter{
                i,h4 {
                    color:rgb(0, 162, 255)
                }
                position: relative;
                z-index: 2;
                ::after{
                    @include clientBackground;
                    background-color: rgb(0, 162, 255);
                }
                &:hover{
                    ::after{
                        height: 100%;
                    }
                }
            }
            #youtube{
                i,h4 {
                    color:rgb(208, 0, 0)
                }
                position: relative;
                z-index: 2;
                ::after{
                    @include clientBackground;
                    background-color: rgb(208, 0, 0);
                }
                &:hover{
                    ::after{
                        height: 100%;
                    }
                }
            }
        }
    }


    /*========  make clients items responsive =========*/
    @media (max-width:992px) {
        .container{
            width: 90%;
            .clients-content{
                gap:20px;
                .item{
                    width: calc(97%/2);
                }
            }
        }
    }
    @media (max-width:768px) {
        .container{
            .clients-content{
                gap:10px;
                .item{
                    width: 100%;
                }
            }
        }
    }
}


    /* ===== articles style ====== */
.articles{
    background-image: url('../images/articles-background.jpg');
    @include backgroundOptions;
    background-attachment: fixed;
    .overlay {
        background:linear-gradient(to right ,hsla(136, 65%, 51%, 0.707), hsla(192, 70%, 51%, 0.701));
        .container{
            .title{
                color: white;
            }
            .articles-content{
                .articles-title{
                    h3 {
                        font-size: 40px;
                        font-weight: 300;
                        margin-bottom: 40px;
                        color:white;
                    }
                }
                .articles-items{
                    display: flex;
                    column-gap: 30px;
                    .item{
                        width:25%;
                        background-color: white;
                        border-radius: 5px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            max-height: 45%;
                        }
                        .item-text{
                            padding:20px;
                            #author{
                                color:$Grayish-Blue;
                                font-size: 14px;
                            }
                            h4{
                                font-size: 18px;
                                margin-block: 10px;
                                &:hover{
                                    color:$main-color;
                                }
                            }
                            #details{
                                color:$Grayish-Blue;
                            }
                        }
                    }
                }
            }
        }
    }


    /*========== make articles items responsive ========*/

    @media (max-width:1200px){
        .overlay {
            .container{
                width: 90%;
                .articles-content{
                    .articles-title{
                        h3 {
                            font-size: 35px;
                        }
                    }
                    .articles-items{
                        flex-wrap: wrap;
                        gap: 20px;
                        .item{
                            width:32%;
                            .item-text{
                                #author{
                                    color:$Grayish-Blue;
                                    font-size: 18px;
                                }
                                h4{
                                    font-size: 22px;
                                }
                                #details{
                                    line-height: 25px
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width:992px){
        .overlay {
            .container{
                .articles-content{
                    .articles-items{
                        .item{
                            width:48%;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:768px){
        .overlay {
            .container{
                .articles-content{
                    .articles-items{
                        flex-wrap: wrap;
                        gap: 15px;
                        .item{
                            width:100%;
                            height: 600px;
                            .item-text{
                                #author{
                                    color:$Grayish-Blue;
                                    font-size: 20px;
                                }
                                h4{
                                    margin-block: 15px;
                                    font-size: 25px;
                                }
                                #details{
                                    font-size: 22px;
                                    line-height: 35px
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/*======== contact style ======*/
.contact{
    .container{
        .contact-content{
            @include container(60%);
            .input{
                margin-bottom: 20px;
                border: 2px solid $second-color;
                input{
                    @include inputStyle;
                }
            }
            .text-area{
                border: 2px solid $second-color;
                margin-bottom: 40px;
                textarea{
                    @include inputStyle;
                }
            }
    }
}

/*======== make contact items responsive =======*/

@media (max-width:992px){
    .container{
        .contact-content{
            @include container(90%);
    }
    }
}

@media (max-width:768px){
    .container{
        .contact-content{
            @include container(100%);
    }
    }
}


}


/* ====== footer style ===== */
.footer {
    background-color: $dark-background;
    .container{
        .footer-content{
            display: flex;
            .footer-social{
                width: 25%;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                .social{
                    width: 100%;
                    i{
                        color:white;
                        margin-inline: 5px;
                        &:hover{
                            color:$main-color;
                        }
                    }
                }
            }
            .footer-list{
                display: flex;
                width: 50%;
                column-gap:20%;
                ul {
                    li{
                        display: block;
                        color: white;
                        line-height: 40px;
                        &:hover{
                            color:$main-color;
                        }
                    }
                }
            }
            .footer-copyright{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-content: space-between;
                width: 25%;
                .footer-copyright-text{
                    color: white;
                }
            }
        }
    }

    @media (max-width:768px){
        .container{
            .footer-content{
                flex-wrap: wrap;
                .footer-social{
                    width: 100%;
                    justify-content: center;
                    .social{
                        margin-top: 40px;
                        text-align: center;
                        i{
                            margin-inline: 17px;
                            font-size: 30px;
                        }
                    }
                }
                .footer-list{
                    flex-wrap: wrap;
                    width: 100%;
                    margin-top: 30px;
                    ul {
                        width: 100%;
                        text-align: center;
                        li{
                            line-height: 70px;
                            font-size: 26px;
                        }
                    }
                }
                .footer-copyright{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: space-between;

                    .footer-button {
                        margin-block: 30px;
                        button{
                            font-size: 22px;
                        }
                    }
                    .footer-copyright-text{
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

